#!/usr/bin/make -f

export DH_VERBOSE=1
export DH_OPTIONS
export DH_GOPKG := github.com/bakins/php-fpm-exporter
export DH_GOLANG_BUILDPKG := github.com/bakins/php-fpm-exporter/cmd/php-fpm-exporter

DEBVERS    ?= $(shell dpkg-parsechangelog -SVersion)
VERSION    ?= $(shell echo '$(DEBVERS)' | sed 's/^[[:digit:]]*://; s/[-].*//')
DEBPKGNAME ?= $(shell dpkg-parsechangelog -SSource)
BUILDDIR   := $(CURDIR)/build

%:
	dh $@ --buildsystem=golang --with=golang --builddirectory=$(BUILDDIR)

override_dh_auto_install:
	mkdir -p debian/$(DEBPKGNAME)/usr/bin
	cp -v $(BUILDDIR)/bin/php-fpm-exporter debian/$(DEBPKGNAME)/usr/bin/$(DEBPKGNAME)
	cp -v README.md debian/$(DEBPKGNAME)/var/lib/prometheus/phpfpm-exporter

gen-orig-tgz:
	if [ ! -f ../$(DEBPKGNAME)_$(VERSION).orig.tar.gz ] ; then \
            git archive --format=tar.gz --prefix=$(DEBPKGNAME)-$(VERSION)/ \
            upstream/$(VERSION) >../$(DEBPKGNAME)_$(VERSION).orig.tar.gz ; \
	fi
